.dao-overlay {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: fixed;
  top: 0%;
  left: 0%;
}

.dao-page-container {
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: rgb(195, 173, 255);
  border-radius: 2px;
  outline: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1rem;
}

.dao-page-container h1 {
  color: black;
  text-align: left;
}

.dao-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-cross {
  cursor: pointer;
}

.dao-page-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.dao-page-content-header h1 {
  margin-right: 0.5rem;
}

.create-proposal {
  background-color: transparent;
  border: 1px solid wheat;
  border-radius: 1rem;
  cursor: pointer;
}

.back-button {
  color: rgb(97, 97, 255) !important;
  cursor: pointer;
}
